### tuple
* 요소의 수정, 삭제, 추가가 안 됨.
* ()로 데이터를 묶는다
* tuple()

In [1]:
data = (5,4,1,8,7)

In [2]:
type(data)

tuple

In [3]:
data[3]

8

In [4]:
data[2:5]

(1, 8, 7)

In [5]:
data[2] = 10

TypeError: 'tuple' object does not support item assignment

In [6]:
5 in data

True

In [7]:
len(data)

5

In [8]:
data1 = (10,23)

In [9]:
data + data1

(5, 4, 1, 8, 7, 10, 23)

In [11]:
data3 = data * 3
data3

(5, 4, 1, 8, 7, 5, 4, 1, 8, 7, 5, 4, 1, 8, 7)

In [12]:
data3.count(5)

3

In [13]:
data3.index(1)

2

In [16]:
# unpacking

T = (1,2,3,4)
x, y, z, k = T

In [17]:
print(x, y,z,k)

1 2 3 4

In [18]:
T = (1)

In [19]:
type(T)

int

In [20]:
T = (1,)

In [21]:
type(T)

tuple

### Set (= 집합)
* 순서(인덱스)가 없음 => indexing, slicing 안 됨
* unique한 원소로 구성된 집합..(중복값을 가지지 않는다)
* {}, set()

In [24]:
S  = {4,2,3,5,7,8,9,20,14}

In [25]:
S.remove(5)
S

{2, 3, 4, 7, 8, 9, 14, 20}

In [26]:
S.add(2)

In [27]:
S

{2, 3, 4, 7, 8, 9, 14, 20}

In [28]:
L = [1,2,4,8,1,3,4,2]
L

[1, 2, 4, 8, 1, 3, 4, 2]

In [30]:
S = set(L)
S

{1, 2, 3, 4, 8}

In [31]:
S.discard(1)
S

{2, 3, 4, 8}

In [32]:
S.remove(7)

KeyError: 7

In [33]:
S.discard(7)

In [34]:
3 in S

True

In [35]:
# set의 집합연산

In [44]:
a = {1,3,5,7}
b = {1,2,4,6,7,8}
c = {1,2,4}

In [37]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
a.intersection(b)

{1, 7}

In [40]:
a.difference(b)

{3, 5}

In [43]:
a.symmetric_difference(b)

{2, 3, 4, 5, 6, 8}

In [45]:
c.issubset(b)

True

In [46]:
b.issuperset(c)

True

### Dictionary (key:value)
* key - index역할

In [47]:
D = {'one':1, 'two':2, 'three':3}

In [48]:
D['two']

2

In [49]:
D['four'] = 4
D

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [50]:
'three' in D

True

In [51]:
len(D)

4

In [52]:
D['four'] = 40
D

{'one': 1, 'two': 2, 'three': 3, 'four': 40}

In [53]:
D.values()

dict_values([1, 2, 3, 40])

In [54]:
D.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [55]:
D.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 40)])

In [56]:
D.pop('four')
# del D['four']
D

{'one': 1, 'two': 2, 'three': 3}

In [57]:
D['two']

2

In [58]:
D.get('two')

2

In [59]:
D.setdefault('two')

2

In [60]:
D['four']  # key에 없는 요소를 호출하면 에러

KeyError: 'four'

In [64]:
D.get('four')  # key에 없는 요소를 호출하면 에러발생 없음

In [63]:
D.get('four', 5)  # 인수와 함께 key에 없는 요소를 호출하면 에러발생 없음, 인수를 리턴

5

In [65]:
D.setdefault('four', 5)

5

In [66]:
D

{'one': 1, 'two': 2, 'three': 3, 'four': 5}

In [67]:
# 부록  -  연속값을 출력해주는 파이썬 함수 : range

In [69]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(5, 11))

[5, 6, 7, 8, 9, 10]

In [72]:
list(range(1, 11, 3))

[1, 4, 7, 10]

In [73]:
list(range(10, 4, -1))

[10, 9, 8, 7, 6, 5]